body {
    font-family: 'Dosis', sans-serif;
    color: #828282;
    font-size: 15px;
    text-align: center;
}

body h1 {
    font-weight: lighter;
    color: #3F3D56;
    font-size: 32px;
    margin-top: 32px;
}

main {
    text-align: center;
    margin: 64px auto 64px;
    width: 626px;
    height: 486px;
}

main div {
    width: 540px;
    height: 107px;
    margin-left: auto;
    margin-right: auto;
}

h1 span {
    color: #EE24FF;
    font-weight: bold;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 16px;
}

p span {
    color: #3F3D56;
    font-weight: bold;
}

div p + p {
    margin-top: 32px;
}

#line {
    border: 1px solid #ECEFF2;
    width: 391px;
    margin: 0 auto 16px;
    
}

footer {
    text-align: center;
    color: #3F3D56;
    font-weight: bold;
    
}
footer a {
    text-decoration: none;
}

footer a + a {
    margin-left: 42px;
}

.imgFooter {
  margin-top: 30px;
}
